/* ----- Index CSS ----- */
.banner{
  background-image: url("D:/Senior Project/GitHub/directory/ck-extras/extra/images/day-clouds.gif");
  background-color: #cccccc;
  /* align-items: center; */
  height: 20%;
  width: 92.5%;
  padding: 60px;
  margin: 10px;
}

#menus a:link, #menus a:visited{
  font-family: Arial;
  font-style: bold;
  font-size: 36px;
  color: rgb(89, 89, 89);
  text-decoration: none;
  background-color: transparent;
  padding: 30px;
}

#menus a:hover, #menus a:active{
  font-family: Arial;
  font-size: 36px;
  color: rgb(153, 153, 153);
  text-decoration: none;
  background-color: transparent;
  padding: 30px;
}

h1{
  font-family: Arial;
}

#welcome{
  font-size: 24px;
  font-family: Arial;
}

#castle{
  height: 80px;
  width: 80px;
}

#schoolH{

}

.school-info{
  font-family: Arial;
  font-size: 20px;
}

#school-building{
  height: 400px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: black;
  border: 30px;
}

.sch-info-div{
  margin-left: 600px;
  margin-top: 75px;
  font-size: 18px;
}

.school-location{
  margin-right: 400px;
  margin-bottom: 50px;
  margin-top: -335px;
}

#fasdTiger{
  height: 130px;
  width: 130px;
}

/* ----- About Me CSS ----- */
.aboutmeH{
  font-family: Arial;
  font-size: 24px;
}

#aboutme, #certificates, #contact-info{
  font-family: Arial;
  font-size: 16px;
}
/* ----- Courses CSS ----- */
.coursesH{
  font-family: Arial;
  font-size: 24px;
}

#courses{
  font-family: Arial;
  font-size: 16px;
}
/* ----- Clubs CSS ----- */
ul {
  margin: 0;
}

ul.club-desc {
  list-style-type: none;
}

ul.club-desc > li {
  text-indent: -20px;
}

ul.club-desc > li:before {
  content: "-";
  text-indent: -20px;
}

.club-titles{
  font-family: Arial;
  font-size: 20px;
}

.club-desc{
  font-family: Arial;
  font-size: 16px;
}

#clubs{
  font-family: Arial;
  font-size: 24px;
}

/* ----- Resources CSS ----- */
.resourcesH{
  font-family: Arial;
  font-size: 24px;
}

#resources{
  font-family: Arial;
  font-size: 16px;
}
