h1{
  font-family: Arial;
}

#welcome{
  font-size: 24px;
  font-family: Arial;
}

#school-address{
  align: left;
  font-family: Arial;
}

.school-location{
  align: right;
}

body{
  background-image: url("D:/Senior Project/GitHub/directory/code-kingdom/resources/images/banner2");
/*  background-color: #cccccc; */
  text-align: center;
  padding: 20px;
}

#fasdTiger{
  height: 100px;
  width: 100px;
}

#castle{
  height: 80px;
  width: 80px;
}
