/* ----- Background CSS ----- */
body {
  background-image: url("G:/Senior Project/GitHub/directory/ck-extras/extra/images/day-clouds.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;
}

/* ----- Header CSS ----- */
.banner{
  background-color: #333;
  list-style-type: none;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.banner li{
  display: inline-block;
}

.banner a{
  display: block;
  color: #e6e6e6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menus a:link, #menus a:visited{
  font-family: 'Press Start 2P', cursive;
  font-style: bold;
  font-size: 36px;
  color: #d9d9d9;
  text-decoration: none;
  background-color: transparent;
  padding: 30px;
}

#menus a:hover, #menus a:active{
  font-family: 'Press Start 2P', cursive;
  font-size: 36px;
  color: #f2f2f2;
  text-decoration: none;
  background-color: #a6a6a6;
  padding: 30px;
}

/* ----- Index CSS ----- */
h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
}

.welcomeH, #welcome{
  font-size: 24px;
  font-family: Arial;
}

#castle{
  height: 90px;
  width: 90px;
  float: left;
  margin: 5px;

}

#schoolH{
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  text-align: center;
}

.school-info{
  font-family: Arial;
  font-size: 16px;
}

#school-building{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: black;
  border: 30px;
}

.sch-info-div{
  position: relative;
  margin-left: 27%;
  margin-right: 58%;
  padding: 0;
  object-fit: scale-down;
  margin-top: 5%;
  font-size: 20px;
  background-color: #fafafa;
}

.school-location{
  margin-right: 18%;
  margin-left: 25%;
  object-fit: scale-down;
  margin-bottom: 50px;
  margin-top: -18%;
}

#fasdTiger{
  height: 130px;
  width: 130px;
}

/* ----- About Me CSS ----- */
.aboutmeH{
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  text-align: center;
}

#aboutme{
  font-family: Arial;
  font-size: 18px;
  text-align: justify;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #fafafa;
}

#certificates{
  font-family: Arial;
  font-size: 18px;
  text-align: justify;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #fafafa;
}

#contact-info{
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  background-color: #fafafa;
  margin-left: 40%;
  margin-right: 40%;
}

td{
  text-align: center;
  padding: 18px;
  width: 30%;
}

/* ----- Courses CSS ----- */
#coursesH{
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  text-align: center;
}

.course-titles, .course-desc {
  text-align: justify;
  margin-bottom: 20px;

}

.course-titles{
  font-family: Arial;
  font-size: 20px;
  list-style-type: none;
  margin-left: 20%;
  margin-right: 18%;
}

.course-desc {
  display: inline-block;
  margin-left: none;
  margin-right: 8%;
  padding: auto;
  font-family: Arial;
  font-size: 18px;
}

.course-titles, .course-desc {
  background-color: #fafafa;
}

ul.course-desc {
  list-style-type: none;
}

ul.course-desc > li {
  text-indent: -20px;

}

ul.course-desc > li:before {
  content: "-";
  text-indent: -20px;
}

/* ----- Clubs CSS ----- */
ul {
  margin: 0;
}

ul.club-desc {
  list-style-type: none;
}

.club-titles{
  font-family: Arial;
  font-size: 20px;
  list-style-type: none;
  margin-left: 20%;
  margin-right: 18%;
}

.club-desc > li{
  font-family: Arial;
  font-size: 18px;
  display: inline-block;
  text-align: justify;
  margin-right: 100px;
  padding: auto;
}

.club-titles, .club-desc {
  background-color: #fafafa;
}

#clubsH{
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  text-align: center;
}

/* ----- Resources CSS ----- */
.resourcesH{
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  padding: auto;
  text-align: center;
}

#resources{
  font-family: Arial;
  font-size: 20px;
  margin: auto;
  padding: auto;
  overflow: hidden;
  text-align: center;
}

#resources::after{
  content: "";
  clear: both;
  display: table;
}

#resources li{
  list-style-type: none;
  display: inline-block;
  float: center;
  width: 10%;
  padding: 14px 16px;
}

#resources  a{
  color: #3a3b3c;
  text-align: center;
  text-decoration: underline;
}

#resources img{
  height: 100px;
  width: 100px;
}
